API_BIBLE_KEY=cole_sua_chave_aqui
API_BIBLE_PORT=8787
API_BIBLE_PRIMARY_ID=41a6caa722a21d88-01
API_BIBLE_SECONDARY_ID=d6e14a625393b4da-01
API_BIBLE_TERTIARY_ID=b8ee27bcd1cae43a-01
VITE_OFFICIAL_BIBLE_PROXY_URL=http://localhost:8787
